

h1 {
  font-family: Megrim,sans-serif;
  color: #214160;
}

p {
  font-family: Alegreya, serif;
}
img {
  width: 50%;
  display: block;
}

@media only screen and (min-width: 42em) {

  .text {
    max-width: 25em;
    width: 100%;
    text-align: center;
  }

}
